<!DOCTYPE html>
<html>
	<head>
	  <title>Artwalker | <%= yield(:title) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= yield(:js) %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width-device-width, initial-scale=1"
	</head>
	<body>

	<%= render 'layouts/header' %>

	<div class="container">
		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
		<%= yield %>
	    <%= render 'layouts/footer' %>
	</div>

	</body>
</html>
